gridster {
  background-color: transparent;
  width: 100% !important;

  .gridster-item-content {
    height: 100%;
    padding: 10px 10px 10px 33px;

    input {
      cursor: default;
      padding: 9px 10px;
      border-radius: 3px;
      border: 1px solid #cbd6e2;
      font-size: 16px;
      transition: all .15s ease-out;
      background-color: #f5f8fa;
      color: #33475b;
      display: block;
      height: 40px;
      line-height: 22px;
      text-align: left;
      vertical-align: middle;
      width: 100%;
      outline: none;
    }

    .info-container {
      position: absolute;
      font-size: 9px;
      right: 0;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
  }
}

::ng-deep gridster {
  gridster-item {
    background-color: transparent;
    border: 1px solid transparent;
    overflow: visible;

    &:hover {
      border: 1px solid #7ab5bf;
    }

    &:hover {
      .gridster-drag-handler {
        background-color: #7ab5bf;

        svg {
          fill: #ffffff;
        }
      }
    }
  }

  .gridster-drag-handler {
    svg {
      width: 15px;
      height: 17px;
      fill: #aeacac;
      position: absolute;
      z-index: 99;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      text-align: center;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    width: 23px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;

    &:hover {
      background-color: #4e96a3;
    }
  }

  .gridster-row {
    border-top: 1px dashed #dadbdd !important;
    border-bottom: 1px dashed #dadbdd !important;
  }

  .gridster-column {
    border-left: 1px dashed #dadbdd !important;
    border-right: 1px dashed #dadbdd !important;
  }

  .gridster-item-moving {
    background-color: #ffffff;
  }

  .gridster-preview {
    background: rgba(122, 181, 191, 0.30);
  }
}
